extends layout

block content
  .container.mt-5
    h1 Users Data via Cursor
    table.table.table-striped
      thead
        tr
          th Email
          th Created At
      tbody
        each user in users
          tr
            td #{user.email}
            td #{user.createdAt}
