extends layout

block content
    .container.mt-5
        h1 Welcome to Express Passport Auth
        if user
            p Hello, #{user.email}
        else
            p Please register or login to access more features.
