doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Express Passport Auth
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") Express Passport Auth
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.mr-auto.mx-auto
          li.nav-item
            a.nav-link(href="/auth/register") Register
          li.nav-item
            a.nav-link(href="/auth/login") Login
          if user
            li.nav-item
              a.nav-link(href="/protected") Protected
            li.nav-item
              a.nav-link(href="/crud") CRUD
            li.nav-item
              a.nav-link(href="/cursor") Cursor
            li.nav-item
              a.nav-link(href="/aggregation") Aggregation
        ul.navbar-nav.ml-auto
          if user
            li.nav-item
              a.nav-link(href="/auth/logout" class="btn btn-danger text-white") Logout
    .container
      block content
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
