@import '../../styles/variables.scss';

.register {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid $base-color;
      border-radius: $border-radius;
      background: var(#{--components-background-input});

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }

    button {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: $border-radius;
      background: $primary-color;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}
